@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Press+Start+2P&display=swap");

html, body{
	height: 100%;
}
* {
	//margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	font-size: 16px;
	font-family: 'Press Start 2P', cursive;
	line-height: 22.4px;
	color: #c0d5d1;
	background-color:#002b23 ;
	padding: 0 100px;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.wrapper main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

h1,
h2,
h3 {
	font-family: 'Press Start 2P', cursive;
}

h4 {
	font-family: 'Libre Barcode 128 Text', cursive;
}

.header-container {
	text-align: center;
}

.header-container h1 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2f97), to(#ff2f97));
	background-image: linear-gradient(#ff2f97, #ff2f97);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;
	-webkit-transition: background-size 1000ms;
	transition: background-size 1000ms;
}

.header-container h1:hover {
	background-size: 100% 100%;
	background-position-x: left;
}


.menu-list {
	position: relative;
	margin-top: 20px;
	top: 0;
	left: 50%;
	transform: skewY(-15deg);

	li {
		position: relative;
		list-style: none;
		width: 200px;
		background: #3e3f46;
		padding: 15px;
		z-index:var(--i) ;
		transition: 0.5s;
		&:after{
			content: '';
			position: absolute;
			top: -40px;
			left: 0px;
			width: 100%;
			height: 40px;
			background: #35383e;
			transform-origin: bottom;
			transform: skewX(45deg);
			transition: 0.5s;
		}
		&:before{
			top: 0px;
			left: -40px;
			content: '';
			position: absolute;
			width: 40px;
			height: 100%;
			background: #2e3133;
			transform-origin: right;
			transform: skewY(45deg);
			transition: 0.5s;
		}
		&:hover {
			background:#33a3ee ;
			transform: translateX(-50px);
			&:before{
				background: #33a3ee;
			}
			&:after{
				background: #2982b9;
			}
			a {
				color: #fff;
			}
		}
		&:last-child{
			&:after {
				box-shadow: -120px 120px 20px rgb(0,0,0,0.25) ;
			}
		}
		a {
			text-decoration: none;
			color: #999;
			display: block;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			transition: 0.5s;
		}
	}
}

.footer-content {
	text-align: center;
}

.footer-content span,
.footer-content h4 {
	font-size: 22px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2f97), to(#ff2f97));
	background-image: linear-gradient(#ff2f97, #ff2f97);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;
	-webkit-transition: background-size 1000ms;
	transition: background-size 1000ms;
}

.footer-content span:hover,
.footer-content h4:hover {
	background-size: 100% 100%;
	background-position-x: left;
}

.footer-content span {
	position: relative;
	top: 54px;
	right: 105px;
}

#But1 {
	width: 100px;
	height: 50px;
	background: #444;
	border-radius: 5px;
}

.header-pages .menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header-pages .menu-list li {
	padding: 0 20px;
}

.menu-article_17_01_22 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.menu-article_17_01_22 li {
	list-style: none;
	padding-right: 10px;
}

audio {
	-webkit-filter: invert(1);
	filter: invert(1);
}

#But1{
	position: absolute;
	top: 90%;
	left: 90%;
	&:before{
		content: '\2699';
		font-size: 94px;
		color: blanchedalmond;
		padding-left: 15px;
	}
}


//#settings{
//	position: absolute;
//	top: 50%;
//	left: 29%;
//	background: wheat;
//	z-index: 2;
//}